<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="https://nerdflix-nerdzao-academy.github.io/assets/nerdflix.png" height="55"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#"> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> Séries <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> FIlmes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> Lançamentos <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
      <button class="btn btn-danger my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>

<!--CAROUSEL-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-item-img">
                <img src="https://raw.githubusercontent.com/nerdzao/academy/nerdflix/front/angular/src/assets/movies/1.jpg" class="d-block w-100" alt="Primeiro Slide">
            </div>
            <div class="carousel-item-content mt-5">
                    <h3> Filme 1 </h3>
                    <p> Lorem Ipsun </p>
                <div>
                    <button type="button" class="btn btn-danger">
                        <i class="fa fa-play fa-1x"></i>
                        Assistir
                    </button>
                    <button type="button" class="btn btn-dark">
                        <i class="fa fa-play fa-1x"></i>
                        Minha Lista
                    </button>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-item-img">
                <img src="https://raw.githubusercontent.com/nerdzao/academy/nerdflix/front/angular/src/assets/movies/2.jpg" class="d-block w-100" alt="Segundo Slide">
            </div>
            <div class="carousel-item-content mt-5">
                    <h3> Filme 2 </h3>
                    <p> Lorem Ipsun </p>
                <div>
                    <button type="button" class="btn btn-danger">
                        <i class="fa fa-play fa-1x"></i>
                        Assistir
                    </button>
                    <button type="button" class="btn btn-dark">
                        <i class="fa fa-play fa-1x"></i>
                        Minha Lista
                    </button>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-item-img">
                    <img src="https://raw.githubusercontent.com/nerdzao/academy/nerdflix/front/angular/src/assets/movies/3.jpg" class="d-block w-100" alt="Terceiro Slide">
            </div>
            <div class="carousel-item-content mt-5">
                        <h3> Filme 3 </h3>
                        <p> Lorem Ipsun </p>
                <div>
                    <button type="button" class="btn btn-danger">
                        <i class="fa fa-play fa-1x"></i>
                        Assistir
                    </button>
                    <button type="button" class="btn btn-dark">
                        <i class="fa fa-play fa-1x"></i>
                        Minha Lista
                    </button>
                </div>
            </div>
        </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>

<!--CATALOGO-->
<div class="container-cards">
    <h5 class="container-cards-title">lançamentos</h5>
    <div class="container-cards-scrolling">
        <div class="container-cards-item">
            <img src="https://raw.githubusercontent.com/nerdzao/academy/nerdflix/front/angular/src/assets/movies/3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="container-cards-item">
            <img src="https://raw.githubusercontent.com/nerdzao/academy/nerdflix/front/angular/src/assets/movies/2.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<div class="container-cards">
    <h5 class="container-cards-title">Ação</h5>
    <div class="container-cards-scrolling">
        <div class="container-cards-item">
            <img src="https://raw.githubusercontent.com/nerdzao/academy/nerdflix/front/angular/src/assets/movies/3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="container-cards-item">
            <img src="https://raw.githubusercontent.com/nerdzao/academy/nerdflix/front/angular/src/assets/movies/2.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<div class="container-cards">
    <h5 class="container-cards-title">Comédia</h5>
    <div class="container-cards-scrolling">
        <div class="container-cards-item">
            <img src="https://raw.githubusercontent.com/nerdzao/academy/nerdflix/front/angular/src/assets/movies/3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="container-cards-item">
            <img src="https://raw.githubusercontent.com/nerdzao/academy/nerdflix/front/angular/src/assets/movies/2.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
